<!DOCTYPE html>
<html lang="es" xmnls:th="http://www.thymealeaf.org">
<head th:replace="/plantilla/template::head"></head>
<body>
       <!-- <h1>Hola</h1> -->
       <div th:replace="/plantilla/template::hamburger"></div>
       <div th:replace="/plantilla/template::frontpage"></div>

       <div>
		<header>
			<h3 class="titulo-tabla">Huespedes Almacenados</h3>
		</header>
		<table class="tabla-estilos">
			<thead>
				<tr>
					<th scope="col">Codigo</th>
					<th scope="col">Nombre</th>
					<th scope="col">Edad</th>
					<th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Genero</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Acompañante</th>
					<th scope="col">Editar</th>
					<th scope="col">Eliminar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="hues:${huesped}">
					<th scope="row" th:text="${hues.idHuespede}"></th>
					<td th:text="${hues.nombre}"></td>
					<td th:text="${hues.edad}"></td>
					<td th:text="${hues.direccion}"></td>
                    <td th:text="${hues.telefono}"></td>
                    <td th:text="${hues.genero}"></td>
                    <td th:text="${hues.motivo}"></td>
                    <td th:text="${hues.acompañante}"></td>
					<td><a class="edit-link" th:href="@{/vistas/huespedes/edit/} + ${hues.idHuespede}" th:text="Editar" title="Editar Registro"></a></td>
					<td><a class="delete-link" th:href="@{/vistas/huespedes/delete/} + ${hues.idHuespede}" th:text="Eliminar" title="Eliminar Registro"></a></td>
				</tr>
			</tbody>
		</table>

		<a class="link-registrar" th:href="@{/vistas/huespedes/create}">Registar Huesped</a>

	</div>
</body>
</html>