<!DOCTYPE html>
<html lang="es" xmnls:th="http://www.thymealeaf.org">
<head th:replace="/plantilla/template::head"></head>
<body>
   <!-- <h1>Hola</h1> -->
   <div th:replace="/plantilla/template::hamburger"></div>
   <div th:replace="/plantilla/template::frontpage"></div>

   <div>
    <form th:action="@{/vistas/checkin/save}" th:object="${checkin}" method="post">  
        <div>
            <label for="id">Id del servicio</label> <br>
            <input type="number" id="id" th:field="*{idServicio}" placeholder="Ingrese el documento del empleado">
        </div>
        <div>
            <label for="nombres">Nombres del huesped:</label><br> 
            <input type="text" id="nombres" th:field="*{nombre}" placeholder="Ingrese los nombres"> 
        </div>
        <div>
            <label for="precio">Precio:</label><br> 
            <input type="text" id="precio" th:field="*{precio}" placeholder="$0,00"> 
        </div>
        <div>
            <label for="detalles">Detalles:</label><br> 
            <input type="text" id="detalles" th:field="*{detalle}" placeholder="Ingrese los nombres"> 
        </div>
        <br />
        <div>
            <input type="submit" value="Guardar" id="submit" name="submit"/>
        </div>
    </form>
</div>
</body>
</html>